* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #0e091b;
  color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
  color: #f9f9f9;
  text-transform: uppercase;
}

ul {
  list-style: none;
}
